<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DemoVolunteer</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DemoVolunteer.styles.css" asp-append-version="true" />
</head>
<body>    
    <nav>
        @if(User.Identity.IsAuthenticated){
            <span>Welcome  @User.Identity.Name!</span>
            <a asp-controller="Home" asp-action="Index">Home</a>
            <a asp-controller="Post" asp-action="Create">Creart Post</a>
            <a asp-controller="User" asp-action="Register">Register</a>
            <a asp-controller="User" asp-action="Edit">Edit</a>
            <a asp-controller="User" asp-action="Logout">Logout</a>

            @* # แจ้งเตือน @await Component.InvokeAsync("Notification") *@
        }else{
            <a asp-controller="Home" asp-action="Index">Home</a>
            <a asp-controller="User" asp-action="Login">Login</a> 
            <a asp-controller="User" asp-action="Register">Register</a>
        }
    </nav>
    <div>
        @RenderBody()
    </div>
</body>
</html>
